.card {
  position: relative;
  left: 120px;
  padding: 10px;
  background-color: rgba(141, 241, 152, 0.427);
  margin: 2px;
  height: auto;
  width: 250px;
  border-radius: 10%;
  border: 1px;
}
.images {
  border-radius: 10%;
  height: 200px;
  width: auto;
}
