body {
  color: rgb(41, 65, 86);
}
.bg-image {
  border-radius: 50%;
  background-image: url("../images/waste.jpg");
  height: 750px;
  width: auto;
  opacity: 0.7;
}

.card {
  position: relative;
  left: 120px;
  padding: 10px;
  background-color: rgba(141, 241, 152, 0.427);
  margin: 2px;
  height: auto;
  width: 250px;
  border-radius: 10%;
}

.card h3 {
  text-align: center;
}

.images {
  border-radius: 10%;
  height: 200px;
  width: auto;
}

.socials {
  text-align: center;
}

.socials div {
  margin: 0px 10px;
  position: relative;
  left: 250px;
  float: left;
}
.mail-logo {
  height: auto;
  width: 40px;
}

.instagram-logo {
  height: auto;
  width: 25px;
}

.facebook-logo {
  height: auto;
  width: 50px;
}

.heading {
  text-align: center;
}
.contact {
  padding: 20px;
  margin: 10px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center-text {
  margin-bottom: 40px;
  position: relative;
  top: 200px;
  color: rgb(249, 249, 249);
}

.center-text h1 {
  font-size: 650%;
}

.center-text h2 {
  font-size: 450%;
}
