.center {
  width: 1300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 120px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(164, 240, 222, 0.58);
  border-radius: 2%;
}
