body {
  font-family: "Catamaran", sans-serif;
}
.aboutHead {
  font-weight: bold;
  font-size: 3rem;
  margin: 5rem 0;
}

.aboutPara {
  color: grey;
  font-size: 1.5rem;
}

.line {
  width: 12rem;
  height: 47px;
  border-bottom: 5px solid #49b7f4;
  position: absolute;
  margin-top: 6rem;
}

.missionHead {
  font-weight: bold;
  font-size: 3rem;
  margin: 5rem 0;
}

.missionPara {
  color: grey;
  font-size: 18px;
  margin-left: 40rem;
}

.global {
  border-radius: 5%;
  float: left;
  height: 22rem;
  width: 35rem;
  margin-bottom: 5rem;
}

.smogPara {
  color: grey;
  font-size: 18px;
  margin-right: 40rem;
}

.smog {
  border-radius: 5%;
  float: right;
  height: 22rem;
  width: 35rem;
  margin-bottom: 2rem;
}

.eline {
  width: 12rem;
  height: 47px;
  border-bottom: 5px solid #49b7f4;
  position: absolute;
  margin-bottom: 5rem;
  margin-left: 35rem;
}

.endPara {
  color: grey;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.endePara {
  color: grey;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .missionPara {
    color: grey;
    margin: 5px auto;
    text-align: center;
  }

  .global {
    height: 22rem;
    width: 35rem;
    float: none;
  }

  .smogPara {
    color: grey;
    font-size: 18px;
    text-align: center;
    margin: auto;
  }

  .smog {
    height: 22rem;
    width: 35rem;
    float: none;
  }
}
